@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-booster-1 {
  -webkit-text-stroke: 1px black;
}
.text-booster-1-anon {
  -webkit-text-stroke: 1px;
}
.text-booster-1-light {
  -webkit-text-stroke: 1px #fff6e5;
}
.eco-booster-1 {
  -webkit-text-stroke: 0.5px black;
}
.eco-booster-1-light {
  -webkit-text-stroke: 0.5px #fff6e5;
}
.text-booster-2 {
  -webkit-text-stroke: 2px black;
}
.text-booster-2-light {
        -webkit-text-stroke: 2px #fff6e5
}
.text-booster-3 {
  -webkit-text-stroke: 3px black;
}

.invert-color-and-roll {
  transition: transform 0.5s ease-in-out 0s;
}

.activated {
  transform: translateX(29px) rotate(180deg);
  transition: transform 0.5s  0s;
}

.svg-flip {
  filter: brightness(0) saturate(100%) invert(92%) sepia(19%) saturate(493%) hue-rotate(312deg) brightness(106%) contrast(104%);
  /* filter: invert(100%); */
}

.sidebar {
  transform: translateX(105%);
  transition: transform 0.3s allow-discrete;
}

.sidebar.open {
  transform: translateX(0%)
}

.plane-right {
  animation: takeoff 5s ease 0.2s;
}

@keyframes takeoff {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 100%;
  }
  50% {
    transform: translateX(250px) translateY(-250px); /* Adjust values as needed */
    opacity: 50%;
  }
  80% {
    transform: translateX(400px) translateY(-400px); /* Adjust values as needed */
    opacity: 10%;
  }
  100% {
    transform: translateX(500px) translateY(-500px); /* Adjust values as needed */
    opacity: 0%;
  }
}

.orbit {
  animation: orbit 1s infinite;
}
@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}